{% extends 'components/base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}
{% block body %}
    {{ include('components/header.html.twig') }}
    <div class="bg-cover" style="background-image: url('{{ asset('assets/FruitsPattern.png') }}')">
        <div class="container mx-auto flex justify-center items-center">
            <div class="flex flex-col gap-6 border border-gray-700 rounded-xl bg-gray-900 p-12">
                <h1 class="text-2xl font-bold">Admin Dashboard</h1>
                <div class="flex flex-col gap-2">
                    <h1 class="text-xl font-semibold">Movie Management</h1>
                    <div class="flex flex-row gap-2 w-full justify-evenly">
                        <button class="w-36 bg-gray-800 p-4 rounded-xl hover:bg-gray-700" type="button" data-modal-target="add-movie" data-modal-toggle="add-movie">Add Movie</button>
                        <a class="w-36 text-center bg-gray-800 p-4 rounded-xl hover:bg-gray-700">Edit Movie</a>
                        <a class="w-36 text-center bg-gray-800 p-4 rounded-xl hover:bg-gray-700">Remove Movie</a>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <h1 class="text-xl font-semibold">Review Management</h1>
                    <div class="flex flex-row gap-2 w-full justify-evenly">
                        <a class="w-36 text-center bg-gray-800 p-4 rounded-xl hover:bg-gray-700">Add Review</a>
                        <a class="w-36 text-center bg-gray-800 p-4 rounded-xl hover:bg-gray-700">Edit Review</a>
                        <a class="w-36 text-center bg-gray-800 p-4 rounded-xl hover:bg-gray-700">Remove Review</a>
                    </div>
                </div>
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <div class="flex flex-col gap-2">
                        <h1 class="text-xl font-semibold">User Management</h1>
                        <div class="flex flex-row gap-2 w-full justify-evenly">
                            <a class="w-36 text-center bg-gray-800 p-4 rounded-xl hover:bg-gray-700">Add Admin</a>
                            <a class="w-36 text-center bg-gray-800 p-4 rounded-xl hover:bg-gray-700">Edit Roles</a>
                            <a class="w-36 text-center bg-gray-800 p-4 rounded-xl hover:bg-gray-700">Remove Admin</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'modals/addMovieModal.html.twig' with {'form' : addMovieForm} %}
{% endblock %}