{% extends 'components/base.html.twig' %}
{% block title %}Your Reviews{% endblock %}
{% block body %}
    {{ include('components/header.html.twig') }}
    <div class="container mx-auto mt-4 flex flex-col gap-2">
        <h1 class="text-2xl font-semibold">Your Reviews</h1>
        <div class="flex flex-row flex-wrap gap-2">
            {% for review in reviews %}
                <div>
                    {% include 'elements/review.html.twig' with {'review' : review, 'editReviewForm': forms[ review.getId() ] } %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}