<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-black text-white">
        <header class="min-vw-100 position-sticky top-0 bg-black">
            <div class="container d-flex align-items-center">
                <h1 class="font-black p-2 text-4xl me-auto">FILM FRUITS</h1>
                <nav class="d-flex justify-content-center align-items-center gap-4">
                    <a>Popular</a>
                    <a>Top Rated</a>
                    <a>Latest</a>
                    <a>Upcoming</a>
                    <a><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg></a>
                    <button type="button" class="py-2 px-4 btn btn-primary">Sign In</button>
                </nav>
            </div>
        </header>
        <div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
